@model List<Product>
@{
    ViewData["Title"] = "Product";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@*// EKLE modelimin tasarımı*@
<div class="modal inmodal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="addForm">
                <div class="modal-header pt-4 pb-3">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Kapat</span></button>
                    <h3>Ürün Ekleme Sayfası</h3>
                </div>
                <div class="modal-body">
                    <input type="text" name="ProductName" placeholder="Ürün Adı" class="form-control" required>
                    <input type="text" name="ProductPrice" placeholder="Ürün Fiyatı" class="form-control" required>
                    <textarea name="ProductDescription" placeholder="Ürün Açıklaması" class="form-control form-control-lg" rows="5" required></textarea>

                    <select class="form-control m-b" name="CategoryID" onchange="KategoriDegisti(this.value)">
                        @foreach (var kategori in ViewBag.Kategoriler)
                        {
                            <option value="@kategori.CategoryID">@kategori.CategoryName</option>
                        }
                    </select>

                    <select class="form-control m-b" name="TrademarkID" onchange="ModelDegisti(this.value)">
                        <option value=""></option>
                    </select>

                    <select class="form-control m-b" name="VersionID">
                        <option value=""></option>
                    </select>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ürünü Kaydet</button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Kapat</button>
                </div>
            </form>
        </div>
    </div>
</div>

@*// GÜNCELLE modelimin tasarımı*@
<div class="modal inmodal fade" id="updateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="updateForm">
                <div class="modal-header pt-4 pb-3">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Kapat</span></button>
                    <h3>Ürün Güncelleme Sayfası</h3>
                </div>
                <div class="modal-body">
                    <input type="text" name="ProductID" placeholder="Ürün Adı" class="form-control" required style="display: none;">
                    <input type="text" name="ProductName" placeholder="Ürün Adı" class="form-control" required>
                    <input type="text" name="ProductPrice" placeholder="Ürün Fiyatı" class="form-control" required>
                    <textarea name="ProductDescription" placeholder="Ürün Açıklaması" class="form-control form-control-lg" rows="5" required></textarea>

                    <select class="form-control m-b" name="CategoryID" onchange="KategoriDegisti(this.value)">
                        @foreach (var kategori in ViewBag.Kategoriler)
                        {
                            <option value="@kategori.CategoryID">@kategori.CategoryName</option>
                        }
                    </select>

                    <select class="form-control m-b" name="TrademarkID" onchange="ModelDegisti(this.value)">
                        <option value=""></option>
                    </select>

                    <select class="form-control m-b" name="VersionID">
                        <option value=""></option>
                    </select>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ürünü Güncelle</button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Kapat</button>
                </div>
            </form>
        </div>
    </div>
</div>

@*DataTable*@
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5 class="pr-2">Ürünler</h5>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal"><i class="fa fa-plus pr-1"></i>Ekle</button>
                </div>
                <div class="ibox-content">

                    <table id="productTable" class="table table-striped table-bordered table-hover dataTables-example" ">
                        <thead>
                            <tr>
                                <th>Ürün ID</th>
                                <th>Ürün Adı</th>
                                <th>Ürün Fiyatı</th>
                                <th>Ürün Açıklaması</th>
                                <th>Kategori</th>
                                <th>Marka</th>
                                <th>Model</th>
                                <th style="min-width:150px;">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @* normalde buraya foreach yaparız ama ajaxla tabloyu doldurucaz*@
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
 {
     @*Kategori değiştiğinde Markayı seçilen kategoriye göre değiştiren, marka değiştiğinde modeli markaya göre değiştiren kodlar*@
<script>

    //sayfa ilk açıldığında bir kerelik bu function çalışsın ki select öğeleri boş kalmasın
    window.onload = function () {
        KategoriDegisti(document.getElementsByName("CategoryID")[0].value);
    };

    function KategoriDegisti(selectedValue) {
        // ViewBag.Markalar içinde veritabanındaki tüm kategorileri aldık
        var markalar = @Html.Raw(Json.Serialize(ViewBag.Markalar));

        // Bize sadece kategorinin markaları lazım, bu yüzden bir filtre uyguladık.
        // Örneğin, telefon seçildiğinde sadece Apple ve Samsung markaları gelecek.
        var filtrelenmisMarkalar = markalar.filter(function (marka) {
            return marka.categoryID == selectedValue;
        });

        // TrademarkID isimli select öğesini aldık
        var selectElements = document.getElementsByName("TrademarkID");

        for (var i = 0; i < selectElements.length; i++) {
            var selectElement = selectElements[i];
            selectElement.innerHTML = ""; // İçinde bir şeyler varsa sildik ki karışıklık oluşmasın

            // Burada bize lazım olan markaların bulunduğu diziyi TrademarkID isimli select öğesine ekledik
            filtrelenmisMarkalar.forEach(function (marka) {
                var optionElement = document.createElement("option");
                optionElement.value = marka.trademarkID;
                optionElement.textContent = marka.trademarkName;
                selectElement.appendChild(optionElement);
            });

            // Kategori değişmişse, Marka ile ilgili işlemler bittiyse hemen ModelDegisti fonksiyonunu çağırıyoruz.
            // İçine de MarkaId gönderiyoruz.
            ModelDegisti(selectElement.value);
        }
    }


    function ModelDegisti(selectedValue) {
        var modeller = @Html.Raw(Json.Serialize(ViewBag.Modeller));

        var filtrelenmisModeller = modeller.filter(function (model) {
            return model.trademarkID == selectedValue;
        });

        var selectElements = document.getElementsByName("VersionID");

        for (var i = 0; i < selectElements.length; i++) {
            var selectElement = selectElements[i];
            selectElement.innerHTML = "";

            filtrelenmisModeller.forEach(function (model) {
                var optionElement = document.createElement("option");
                optionElement.value = model.versionID;
                optionElement.textContent = model.versionName;
                selectElement.appendChild(optionElement);
            });
        }
    }

</script>

@*datatable ı ajax ile dolduruyoruz*@
<script>
    var table = null;
    $(function () {
        table = $('#productTable').DataTable({
            pageLength: 10,
            responsive: true,
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json"
            },
            ajax: {
                url: '/Admin/Product/ProductList',
                type: 'GET',
                dataType: 'json',
                dataSrc: ''
            },
            columns: [
                { data: 'productID' },
                { data: 'productName' },
                { data: 'productPrice' },
                {
                    data: 'productDescription',
                    render: function (data, type, row) {
                        if (data.length > 50) {
                            return data.substring(0, 50) + '...';
                        } else {
                            return data;
                        }
                    }
                },
                { data: 'categoryName' },
                { data: 'trademarkName' },
                { data: 'versionName' },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<button class="btn btn-warning mr-2" type="button" data-toggle="modal" data-target="#updateModal" onclick="UrunGuncelle(' + data.productID + ')"><i class="fa fa-edit pr-1"></i>Düzenle</button>' +
                            '<button class="btn btn-danger mr-2" type="button" onclick="UrunSil(' + data.productID + ')"><i class="fa fa-trash pr-1"></i>Sil</button>' +
                            '<button class="btn btn-primary mr-2" onclick="FotoEkle(' + data.productID + ')"><i class="fa fa-camera pr-1"></i>Fotoğraf Ekle</button>';

                    }
                }
            ]
        });
    });

</script>

@*ajax ile veri ekleme işlemi*@
<script>

    $('#addForm').submit(function (e) {
        e.preventDefault();
        var form = $(this);

        $.ajax({
            url: '/Admin/Product/ProductAdd',
            type: 'POST',
            data: form.serialize(),
            success: function (response) {
                form.trigger("reset"); //formdaki verileri temizle artık onlarla işin kalmadı
                form = null; //formdan gelen verileri karşılayan değişkeninde içini siliyorum ki arka arkaya veriler eklediğimde form değişkeninde birikme olmasın
                $('#addModal').modal('hide'); //modeli kapatır
                table.ajax.reload(); // Eklenen veriyi de tabloya eklemek için tabloyu yeniden yükle
                toastr.success('Ürün ekleme işlemi başarılı.');
            },
            error: function (xhr, status, error) {
                toastr.error('Ürün ekleme işlemi sırasında bir hata meydana geldi.');
            }
        });
    });

</script>

@*ajax ile veri güncelleme işlemi*@
<script>

    function UrunGuncelle(id) {
        $.ajax({
            url: '/Admin/Product/GetProductById/' + id,
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                //GetProductById'den gelen verileri inputlara dolduruyoruz
                $.each(response, function (key, value) {
                    var inputName = key.charAt(0).toUpperCase() + key.slice(1);
                    $('#updateForm input[name="' + inputName + '"]').val(value);
                    $('#updateForm textarea[name="' + inputName + '"]').val(value);
                });

                // KategoriID için select öğesini güncelle    bu kısmı chatgpt ye yazdırdım biraz zor, amacı güncelleye bastığımızda kategori marka ve modeli doldurmak :)
                $('#updateForm select[name="CategoryID"]').val(response.categoryID);

                // Markaları ve TrademarkID'yi güncelle
                var markalar = @Html.Raw(Json.Serialize(ViewBag.Markalar));
                var markalarFiltreli = markalar.filter(function (marka) {
                    return marka.categoryID == response.categoryID;
                });
                var trademarkSelect = $('#updateForm select[name="TrademarkID"]');
                trademarkSelect.empty();
                $.each(markalarFiltreli, function (index, marka) {
                    trademarkSelect.append('<option value="' + marka.trademarkID + '">' + marka.trademarkName + '</option>');
                });
                trademarkSelect.val(response.trademarkID);

                // Modelleri ve VersionID'yi güncelle
                var modeller = @Html.Raw(Json.Serialize(ViewBag.Modeller));
                var modellerFiltreli = modeller.filter(function (model) {
                    return model.trademarkID == response.trademarkID;
                });
                var versionSelect = $('#updateForm select[name="VersionID"]');
                versionSelect.empty();
                $.each(modellerFiltreli, function (index, model) {
                    versionSelect.append('<option value="' + model.versionID + '">' + model.versionName + '</option>');
                });
                versionSelect.val(response.versionID);


                // Güncelleme işlemi için form submit işlemi
                $('#updateForm').off('submit').on('submit', function (e) {
                    e.preventDefault();
                    var form = $(this);
                    var data = form.serialize();

                    $.ajax({
                        url: '/Admin/Product/ProductUpdate',
                        type: 'POST',
                        data: data,
                        success: function (response) {
                            // Başarılı bir şekilde güncellendiğinde yapılacak işlemler
                            $('#updateModal').modal('hide');
                            table.ajax.reload(); // Güncellenen veriyi de tabloya eklemek için tabloyu yeniden yükle
                            toastr.success('Ürün güncelleme işlemi başarılı.');
                        },
                        error: function (xhr, status, error) {
                            // Hata durumunda yapılacak işlemler
                            toastr.error('Ürün güncelleme işlemi sırasında bir hata meydana geldi.');
                        }
                    });
                });
            },
            error: function (xhr, status, error) {
                // Hata durumunda yapılacak işlemler
                toastr.error('Ürün bilgileri getirilirken bir hata meydana geldi.');
            }
        });
    }

</script>

@*ajax ile veri silme işlemi*@
<script>

    function UrunSil(UrunId) {
        $.ajax({
            url: '/Admin/Product/ProductDelete',
            type: 'POST',
            data: { ProductID: UrunId }, // Silinecek kategori ID'si
            success: function (response) {
                // Başarılı bir şekilde silindiğinde yapılacak işlemler
                table.ajax.reload();  //Silme işlemi bittikten sonra tabloyu yeniden göstersin
                toastr.success('Ürün silme işlemi başarılı.');
            },
            error: function (xhr, status, error) {
                // Hata durumunda yapılacak işlemler
                toastr.error('Ürün bilgileri silinirken bir hata meydana geldi.');
            }
        });
    }

</script>

<script>
    function FotoEkle(productID) {
        window.location.href = '/Admin/Product/AddProductImage/' + productID;
    }</script>

}