@model List<Cart>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-9">

            <div class="ibox">
                <div class="ibox-title">
                    <span class="float-right">(<strong>1</strong>) Ürün</span>
                    <h5>Sepette ki ürünler</h5>
                </div>
                <div class="ibox-content">


                    <div class="table-responsive">
                        <table class="table shoping-cart-table">
                            @foreach (var cart in Model)
                            {

                                <tbody>
                                    <tr>
                                        <td width="90">
                                            <div class="cart-product-imitation">
                                            </div>
                                        </td>
                                        <td class="desc">
                                            <h3>
                                                <a href="#" class="text-navy">
                                                  @cart.Product.ProductName
                                                </a>
                                            </h3>
                                            <p class="small">
                                                @cart.Product.ProductDescription
                                            </p>

                                            <div class="m-t-sm">
                                                <a href="#" class="text-muted"><i class="fa fa-trash"></i> Ürünü iptal et</a>
                                            </div>
                                        </td>

                                        <td>
                                            @cart.Product.ProductPrice.ToString("N0") ₺
                                        </td>
                                        <td width="65">
                                            <input type="text" class="form-control" placeholder="1">
                                        </td>
                                        <td>
                                            <h4>
                                                @cart.Product.ProductPrice.ToString("N0") ₺
                                            </h4>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>

                </div>
                <div class="ibox-content">

                    <a href="@Url.Action("Index", "Home")" class="btn btn-white">
                        <i class="fa fa-arrow-left"></i> Alışverişe Dön
                    </a>


                </div>
            </div>

        </div>
        <div class="col-md-3">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Sepet Tutarı</h5>
                </div>
                <div class="ibox-content">
                    <span>
                        Toplam
                    </span>
                    <h2 class="font-bold">
                        x ₺
                    </h2>

                    <hr />
                    <span class="text-muted small">
                        *For United States, France and Germany applicable sales tax will be applied
                    </span>
                    <div class="m-t-sm">
                        <div>
                            <form action="@Url.Action("CompleteOrder", "Order")" method="post">
                                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Siparişi Tamamla</button>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="ibox">
        </div>
    </div>
</div>


<script>
    // Bu kodu, "Satın Al" butonuna tıkladığınızda çalıştırabilirsiniz
    function addToCart() {
        var productId = 1; // Sepete ekleyeceğiniz ürünün ID'sini buraya yazın
        var quantity = 1; // Ürün adedini buraya yazın

        // Ajax isteği gönderme
        $.ajax({
            url: '/api/Cart/AddToCart',
            type: 'POST',
            data: { productId: productId, quantity: quantity },
            success: function (response) {
                // Toast mesajını gösterme
                toastr.success(response.message, 'Başarılı');
            },
            error: function (response) {
                toastr.error(response.responseJSON.message, 'Hata');
            }
        });
    }
</script>